PORT=8080
JWT_SECRET="secret"

DATABASE_URL="postgres://user:password@localhost:5432/db?sslmode=disable"
DB_USER="user"
DB_PASSWORD="password"
DB_NAME="db"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URL=""

SMTP_DOMAIN="relay.example.com"
SENDGRID_API_KEY=""
FRONTEND_URL="http://localhost:3000"
SECURE_COOKIES="false"   # set to true in production